@import 'src/styles/mixins.scss';

$letterColor: #fee;
$letterShadow: 0 -40px 100px, 0 0 2px, 0 0 1em #78bcf7, 0 0 0.5em #78bcf7,
  0 0 0.1em #78bcf7, 0 10px 3px rgba(0, 0, 0, 0.2);
$letterShadow2: 0 -40px 100px, 0 0 2px, 0 0 0.01em #78bcf7, 0 0 0.1em #78bcf7,
  0 0 0.01em #78bcf7, 0 10px 1px rgba(0, 0, 0, 0.2);

.root {
  height: 95vh;
}

.letter {
  display: inline-block;
  font: 400 12vw 'Monoton';
  line-height: 0.9;
  letter-spacing: 1.2vw;
  text-decoration: none;

  color: $letterColor;
  text-shadow: $letterShadow2;
  user-select: none;
  transition: text-shadow 1s;
  transform: scale(1.5);

  &:hover {
    text-shadow: none;
  }

  @include respond(phone) {
    font: 400 22vw 'Monoton';
  }

  @include respond(tab-land) {
    font: 400 20vw 'Monoton';
  }
}
